<!DOCTYPE html>
{% macro pagination(url, page) %}
    <div class="blog-pagination">
        <ul class="pagination">
        {% if page.has_previous %}
            <li><a href="{{ url }}{{ page.page_index-1}}">left</a></li>
        {% else %}
            <li><a href="#">left</a></li>
        {% endif %}
            <li class="active"><a href="#">{{page.page_index}}</a></li>
        {% if page.has_next %}
            <li><a href="{{ url }}{{ page.page_index+1}}">right</a></li>
        {% else %}
            <li><a href="#">right</a></li>
        {% endif %}
            <!-- <li><a href="#">left</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li><a href="#">right</a></li> -->
        </ul>
    </div>
{% endmacro %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title%}? {% endblock %}--MARINE | Priates' King</title>
    <link href="multicolor/css/bootstrap.min.css" rel="stylesheet">
    <link href="multicolor/css/font-awesome.min.css" rel="stylesheet">
    <link href="multicolor/css/lightbox.css" rel="stylesheet">
    <link href="multicolor/css/animate.min.css" rel="stylesheet">
    <link href="multicolor/css/main.css" rel="stylesheet">
    <link href="multicolor/css/responsive.css" rel="stylesheet">
    <!-- add by gary 03/14 -->
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
    <!--  <link rel="shortcut icon" href="multicolor/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="multicolor/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="multicolor/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="multicolor/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="multicolor/images/ico/apple-touch-icon-57-precomposed.png">
-->

    <script type="text/javascript" src="multicolor/js/jquery.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/awesome.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <script>
    function selectSignin() {
        document.getElementById('signin').style.display = 'block';
    }

    function selectSignup() {
        document.getElementById('signup').style.display = 'block';
    }

    function hideSignin() {
        document.getElementById('signin').style.display = 'none';
    }

    function hideSignup() {
        document.getElementById('signup').style.display = 'none';
    }

    function verifyEmail(email) {
        var re = /^[a-zA-Z0-9\.\_]+\@[a-zA-Z0-9\_]+(\.[a-z0-9]+){1,4}$/;
        return re.test(email.toLowerCase());
    }
    /**Sign up*/
    $(function() {
        var vm = new Vue({
            el: '#upform',
            data: {
                username: '',
                email: '',
                password1: '',
                password2: ''

            },
            methods: {
                submit: function(data) {
                    event.preventDefault();
                    var $form = $('#upform');
                    if (!this.username.trim()) {
                        return $form.showFormError('Please enter your user name');
                    }
                    if (!verifyEmail(this.email)) {
                        return $form.showFormError('Please enter correct email');
                    }
                    if (this.password1.length < 6) {
                        return $form.showFormError('Password must be longer than 6 characters');
                    }
                    if (this.password1 !== this.password2) {
                        return $form.showFormError('Passwords are not the same');
                    }
                    var email = this.email.trim().toLowerCase();
                    $form.postJSON('/api/users', {
                        name: this.username,
                        email: email,
                        passwd: CryptoJS.SHA1(email + ':' + this.password1).toString()
                    }, function(err, r) {
                        if (err) {
                            return $form.showFormError(err);
                        }
                        return location.assign('/');
                    });
                }
            }
        });
        $('#upform').show();
    });

    /**Sign in*/
    $(function() {
        var vmAuth = new Vue({
            el: '#vm',
            data: {
                email: '',
                password: ''
            },
            methods: {
                submit: function(event) {
                    event.preventDefault();
                    /* var $form = $('#inform');*/
                    var $form = $('#vm');
                    var email = this.email.trim().toLowerCase();
                    var data = {
                        email: email,
                        password: this.password === '' ? '' : CryptoJS.SHA1(email + ':' + this.password).toString()
                    };
                    console.warn("this.email:" + this.email + "password:" + this.password);
                    $form.postJSON('/api/authenticate', data, function(err, result) {
                        if (!err) {
                            if(result.identity==='marine')
                                {
                                    location.assign('/marine');}
                            else{
                            location.assign('/blogtwo');}
                        }
                    });
                }
            }
        });
    });
    </script>
    {% block beforehead %}<!-- before head  -->{% endblock %}
</head>
<!--/head-->
    
<body>
    {% block content %}
    {% endblock %}
   
</body>

</html>