{% extends '__newbase__.html' %} {% block title %} {% if __user__.identity=="marine" %} New Marine Blog {% else %} New Pirate Blog {% endif %} {% endblock %} {% block link %}
<script src="/static/js/jquery.min.js"></script>
<link href="/multicolor/css/bootstrap.min.css" rel="stylesheet">
<link href="/multicolor/css/font-awesome.min.css" rel="stylesheet">
<link href="/multicolor/css/lightbox.css" rel="stylesheet">
<link href="/multicolor/css/animate.min.css" rel="stylesheet">
<link href="/multicolor/css/main.css" rel="stylesheet">
<link href="/multicolor/css/responsive.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
<script type="text/javascript" src="../multicolor/js/jquery.js"></script>
<script>
var
    ID = '{{ id }}',
    action = '{{ action }}';

function initVM(blog) {
    var vm = new Vue({
        el: '#blogn',
        data: blog,
        methods: {
            submit: function(event) {
                event.preventDefault();
                var $form = $('#blogn').find('form');
                $form.postJSON(action, this.$data, function(err, r) {
                    if (err) {
                        $form.showFormError(err);
                    } else {
                        // return location.assign('/manage/blogs');
                        return location.assign('/pirate');
                    }
                });
            }
        }
    });
    $('#blogn').show();
}
// function imageIsLoaded(e) {
//     $('#myImg').attr('src', e.target.result);
// };

function imageIsLoaded(e) {
    $('#blogn').attr('src', e.target.result);
};

$(function() { //when will it start to run?
    


    if (ID) {
        getJSON('/api/blogs/' + ID, function(err, blog) {
            if (err) {
                return fatal(err);
            }
            $('#loading').hide();
            initVM(blog);
        });
    } else {
        $('#loading').hide();
        initVM({
            name: '',
            summary: '',
            content: '',
            imageback: '/static/images/onepiece/filmz.jpg',
        });
        console.info("else functino");
        $(":file").change(function () {
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = imageIsLoaded;
            reader.readAsDataURL(this.files[0]);
        }
    });
    }
});
</script>
<script>
/*window.onload = function () {
    var main = new Vue({
        el: '#app',
        data: {
             message: 'Hello Vue.js!',
             imageback: '/static/images/onepiece/filmz.jpg',
        },

  methods: {

    onFileChange: function(e) {

      console.info("say hi ");
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length)
        return;
      this.createImage(files[0]);
      console.info("onfilechange");
    },
    createImage: function(file) {
      var image = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = (e) => {
        vm.imageback = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    removeImage: function (e) {
      this.image = '';
    }
  }
})
  
}*/
/*function upload() {
    var ivue = new Vue({
        el: '#imageupload',
        data: {
            imageback: '../static/images/onepiece/filmz.jpg',
            message: 'Hello Vfgdue.js!'
        },
        methods: {
            onFileChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                var image = new Image();
                var reader = new FileReader();
                var vm = this;

                reader.onload = (e) => {
                    vm.imageback = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            removeImage: function(e) {
                this.imageback = '';
            }
        }
    });
     console.info("get the image");
}

$(function() {
    upload();
    console.info("already ffdsafdsdsuploade");
})*/
</script>
{% endblock %} {% block content %}
<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 overflow">
                <div class="social-icons pull-right">
                    <ul class="nav nav-pills">
                        <!-- <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li> -->
                        <li><a href="#"><i class="uk-icon-sign-in"></i>{{__user__.name}}</a></li>
                        <li><a href="/signout"><i class="uk-icon-edit"></i>Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if __user__.identity=="pirate" %}
                <a class="navbar-brand" href="/pirate">
                    <h1><img src="/static/images/onepiece/zaomaologo.jpeg" alt="logo"></h1>
                </a>
                {% else %}
                <a class="navbar-brand" href="/marine">
                    <h1><img src="/static/images/onepiece/marine1.png" alt="logo"></h1>
                </a>
                {% endif %}
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html">Home</a></li>
                    <li class="dropdown"><a href="#">Pages <i class="fa fa-angle-down"></i></a>
                        <ul role="menu" class="sub-menu">
                            <li><a href="aboutus.html">About</a></li>
                            <li><a href="aboutus2.html">About 2</a></li>
                            <li><a href="service.html">Services</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                            <li><a href="contact2.html">Contact us 2</a></li>
                            <li><a href="404.html">404 error</a></li>
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                        </ul>
                    </li>
                    <li class="dropdown active"><a href="blog.html">Blog <i class="fa fa-angle-down"></i></a>
                        <ul role="menu" class="sub-menu">
                            <li><a class="active" href="blog.html">Blog Default</a></li>
                            <li><a href="blogtwo.html">Timeline Blog</a></li>
                            <li><a href="blogone.html">2 Columns + Right Sidebar</a></li>
                            <li><a href="blogthree.html">1 Column + Left Sidebar</a></li>
                            <li><a href="blogfour.html">Blog Masonary</a></li>
                            <li><a href="blogdetails.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="portfolio.html">Portfolio <i class="fa fa-angle-down"></i></a>
                        <ul role="menu" class="sub-menu">
                            <li><a href="portfolio.html">Portfolio Default</a></li>
                            <li><a href="portfoliofour.html">Isotope 3 Columns + Right Sidebar</a></li>
                            <li><a href="portfolioone.html">3 Columns + Right Sidebar</a></li>
                            <li><a href="portfoliotwo.html">3 Columns + Left Sidebar</a></li>
                            <li><a href="portfoliothree.html">2 Columns</a></li>
                            <li><a href="portfolio-details.html">Portfolio Details</a></li>
                        </ul>
                    </li>
                    <li><a href="shortcodes.html ">Shortcodes</a></li>
                </ul>
            </div>
            <div class="search">
                <form role="form">
                    <i class="fa fa-search"></i>
                    <div class="field-toggle">
                        <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
<!--/#header-->
<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">New Blog</h1> {% if __user__.identity=="pirate" %}
                        <p>Pirate</p>
                        {% else %}
                        <p>Marine</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#page-breadcrumb-->
<section id="blog" class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-7">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="single-blog single-column">
                            <div class="post-thumb">
                               <a href="blogdetails.html"><img id="blogn" {% if __user__.identity=="pirate" %} src="/static/images/onepiece/filmz.jpg" {% else %} src="/static/images/onepiece/benbu.png" {% endif %} alt="your image"  width="850" height="400" class="img-responsive"></a>
                                <div class="post-overlay">
                                    <span class="uppercase"><a {% if __user__.identity=="pirate" %} href="http://onepiece.wikia.com/wiki/Pirate"{% else %} href="http://onepiece.wikia.com/wiki/Marines"{% endif %}><small>{{__user__.identity}}</small></a></span>
                                </div>
                            </div>
                            <input type='file' />
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div id="blogn" class="contact-form bottom">
                            <form v-on="submit: submit" name="contact-form">
                                <div class="uk-alert uk-alert-danger uk-hidden"></div>
                                <!-- <div class="form-group">
                                    <button v-model="message" type="submit" name="image" class="form-control" v-on:click="onFileChange">{{message}}</button>
                                    <input v-model="message1">
                                </div> -->
                                
                                <div class="form-group">
                                    <input v-model="name" type="text" name="name" class="form-control" required="required" placeholder="Title">
                                </div>
                                <div class="form-group">
                                    <textarea v-model="summary" rows="6" name="summary" class="form-control" required="required" placeholder="Summary"></textarea>
                                </div>
                                <div class="form-group">
                                    <textarea v-model="content" name="content" required="required" class="form-control" rows="24" placeholder="Blog Here"></textarea>
                                </div>
                                <!-- <div class="form-group">
                                        <button type="submit" class="btn btn-submit"><i class="uk-icon-save"></i> submit</button>
                                    </div> -->
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <a href="/blogtwo" class="btn btn-submit"><i class="uk-icon-times"></i> cancel</a>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 pull-right">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-submit"><i class="uk-icon-save"></i> submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                   
                    <!-- <div class="col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="form-group">
                                       <a href="/blogtwo" class="btn btn-submit"><i class="uk-icon-times"></i> cancel</a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 pull-right">
                                    <div class="form-group">
                                         <button type="submit" class="btn btn-submit"><i class="uk-icon-save"></i> submit</button>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                </div>
                <!-- <div class="blog-pagination bottom" style="position: absolute bottom: 0 right: 0">
                                <ul class="pagination">
                                    <li><a href="#">left</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li class="active"><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">6</a></li>
                                    <li><a href="#">7</a></li>
                                    <li><a href="#">8</a></li>
                                    <li><a href="#">9</a></li>
                                    <li><a href="#">right</a></li>
                                </ul>
                            </div> -->
            </div>
            <div class="col-md-3 col-sm-5">
                <div class="sidebar blog-sidebar">
                    <div class="sidebar-item  recent">
                        <h3>Comments</h3>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="/multicolor/images/portfolio/project1.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a></h4>
                                <p>posted on 07 March 2014</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="/multicolor/images/portfolio/project2.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a></h4>
                                <p>posted on 07 March 2014</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="/multicolor/images/portfolio/project3.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a></h4>
                                <p>posted on 07 March 2014</p>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-item categories">
                        <h3>Categories</h3>
                        <ul class="nav navbar-stacked">
                            <li><a href="#">Lorem ipsum<span class="pull-right">(1)</span></a></li>
                            <li class="active"><a href="#">Dolor sit amet<span class="pull-right">(8)</span></a></li>
                            <li><a href="#">Adipisicing elit<span class="pull-right">(4)</span></a></li>
                            <li><a href="#">Sed do<span class="pull-right">(9)</span></a></li>
                            <li><a href="#">Eiusmod<span class="pull-right">(3)</span></a></li>
                            <li><a href="#">Mockup<span class="pull-right">(4)</span></a></li>
                            <li><a href="#">Ut enim ad minim <span class="pull-right">(2)</span></a></li>
                            <li><a href="#">Veniam, quis nostrud <span class="pull-right">(8)</span></a></li>
                        </ul>
                    </div>
                    <div class="sidebar-item tag-cloud">
                        <h3>Tag Cloud</h3>
                        <ul class="nav nav-pills">
                            <li><a href="#">Corporate</a></li>
                            <li><a href="#">Joomla</a></li>
                            <li><a href="#">Abstract</a></li>
                            <li><a href="#">Creative</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Product</a></li>
                        </ul>
                    </div>
                    <div class="sidebar-item popular">
                        <h3>Latest Photos</h3>
                        <ul class="gallery">
                            <li>
                                <a href="#"><img src="/multicolor/images/portfolio/popular1.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="/multicolor/images/portfolio/popular2.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="/multicolor/images/portfolio/popular3.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="/multicolor/images/portfolio/popular4.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="/multicolor/images/portfolio/popular5.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="/multicolor/images/portfolio/popular1.jpg" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#blog-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center bottom-separator">
                <img src="/multicolor/images/home/under.png" class="img-responsive inline" alt="">
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="testimonial bottom">
                    <h2>Testimonial</h2>
                    <div class="media">
                        <div class="pull-left">
                            <a href="#"><img src="/multicolor/images/home/profile1.png" alt=""></a>
                        </div>
                        <div class="media-body">
                            <blockquote>Nisi commodo bresaola, leberkas venison eiusmod bacon occaecat labore tail.</blockquote>
                            <h3><a href="#">- Jhon Kalis</a></h3>
                        </div>
                    </div>
                    <div class="media">
                        <div class="pull-left">
                            <a href="#"><img src="/multicolor/images/home/profile2.png" alt=""></a>
                        </div>
                        <div class="media-body">
                            <blockquote>Capicola nisi flank sed minim sunt aliqua rump pancetta leberkas venison eiusmod.</blockquote>
                            <h3><a href="">- Abraham Josef</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="contact-info bottom">
                    <h2>Contacts</h2>
                    <address>
                        E-mail: <a href="mailto:someone@example.com">email@email.com</a>
                        <br> Phone: +1 (123) 456 7890
                        <br> Fax: +1 (123) 456 7891
                        <br>
                    </address>
                    <h2>Address</h2>
                    <address>
                        Unit C2, St.Vincent's Trading Est.,
                        <br> Feeder Road,
                        <br> Bristol, BS2 0UY
                        <br> United Kingdom
                        <br>
                    </address>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="contact-form bottom">
                    <h2>Send a message</h2>
                    <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" required="required" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" required="required" placeholder="Email Id">
                        </div>
                        <div class="form-group">
                            <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Your text here"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="copyright-text text-center">
                    <p>&copy; Your Company 2014. All Rights Reserved.</p>
                    <p>Crafted by <a target="_blank" href="http://designscrazed.org/">Allie</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/#footer-->
<script type="text/javascript" src="../multicolor/js/jquery.js"></script>
<script type="text/javascript" src="/multicolor/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/multicolor/js/lightbox.min.js"></script>
<script type="text/javascript" src="/multicolor/js/wow.min.js"></script>
<script type="text/javascript" src="/multicolor/js/main.js"></script>
{% endblock %}